body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: #007bff;
    color: white;
    text-transform: uppercase;
}

tr:hover {
    background-color: #f1f1f1;
}

form {
    background: white;
    padding: 15px;
    width: 50%;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    text-decoration: underline;
}

.titulo {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Estilos para as colunas de Imagem e Gênero */
table img {
    width: 50px; /* Tamanho da imagem */
    height: 50px; /* Tamanho da imagem */
    object-fit: cover; /* Garantir que a imagem se ajuste bem */
    border-radius: 5px; /* Bordas arredondadas nas imagens */
}

table td, table th {
    text-align: center; /* Centralizando o texto nas células */
}

table th:nth-child(5), table td:nth-child(5) {
    width: 100px; /* Controlando a largura da coluna de Imagem */
}

table th:nth-child(6), table td:nth-child(6) {
    width: 150px; /* Controlando a largura da coluna de Gênero */
}

.content {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
ul {
    padding-left: 20px;
}
ul li {
    margin-bottom: 10px;
}