body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: #333;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background: #007bff;
  color: white;
  text-transform: uppercase;
}

tr:hover {
  background-color: #f1f1f1;
}

form {
  background: white;
  padding: 15px;
  width: 50%;
  margin: 20px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

input,
button {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #218838;
}

nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
}

.logo a {
  font-size: 24px !important;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  display: inline;
}

.menu a, .logo a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu a:hover, .logo a:hover {
  color : #a8a8a8;
  transition: all 0.3s;
}

.titulo {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Estilos para as colunas de Imagem e Gênero */
table img {
  width: 50px; /* Tamanho da imagem */
  height: 50px; /* Tamanho da imagem */
  object-fit: cover; /* Garantir que a imagem se ajuste bem */
  border-radius: 5px; /* Bordas arredondadas nas imagens */
}

table td,
table th {
  text-align: center; /* Centralizando o texto nas células */
}

table th:nth-child(5),
table td:nth-child(5) {
  width: 100px; /* Controlando a largura da coluna de Imagem */
}

table th:nth-child(6),
table td:nth-child(6) {
  width: 150px; /* Controlando a largura da coluna de Gênero */
}

.content {
  width: 80%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
ul {
  padding-left: 20px;
}
ul li {
  margin-bottom: 10px;
}
/* Esconde o input file original */
input[type="file"] {
  display: none;
}

/* Estiliza o botão personalizado */
.custom-file-label {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background 0.3s;
}

/* Efeito hover */
.custom-file-label:hover {
  background-color: #0056b3;
}

/* Exibe o nome do arquivo ao lado do botão */
.file-name {
  margin-left: 10px;
  font-weight: bold;
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.info {
  padding: 10px;
}

.info h2 {
  font-size: 18px;
  margin: 5px 0;
}

.info p {
  font-size: 14px;
  margin: 5px 0;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 0 20px;
  border-radius: 8px;
  width: 300px;
  text-align: left;
  max-height: 70%;
  overflow-y: auto;
}

#jogoModal .modal-content {
  width: 500px;

}
.headerModal {
  position: sticky;
  top: 0;
  background-color: white; /* Ou outra cor que combine com seu design */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc; /* Opcional para separar do conteúdo */
  z-index: 1000; /* Para garantir que fique acima do conteúdo */
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
#loginForm{
  padding:50px;
}
#entrar {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#entrar:hover {
  background-color: #0056b3;
}
#info-cadastro span {
  color: rgb(97, 97, 97);
}
#info-cadastro a{
  color: #007BFF;
  text-decoration: none;
}
#info-cadastro a:hover{
  color: #0056b3;
}

.btn-delete{
  background-color: rgb(224, 13, 13);
}
.btn-delete:hover{
  background-color: rgb(150, 6, 6);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 80%;
  gap: 20px;
}

.info-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.info-card h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: #007bff;
}

.info-card p {
  font-size: 16px;
  text-align: center;
  color: #555;
}