<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Jogos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheet/style.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  </head>
  <body>
    <h1>🎮 Lista de Jogos</h1>

    <table>
      <tr>
        <th>Ano</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Console</th>
      </tr>
      <tbody id="jogos-tuplas">
        {% for jogo in jogos %}
        <tr>
          <td>{{ jogo.ano }}</td>
          <td>{{ jogo.nome }}</td>
          <td>{{ jogo.descricao }}</td>
          <td>{{ jogo.plataforma }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="post" id="add-jogo">
      <label for="ano">Ano:</label>
      <input type="text" id="ano" name="ano" required />
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required />
      <label for="descricao">Descrição:</label>
      <input type="text" id="descricao" name="descricao" required />
      <label for="plataforma">Console:</label>
      <input type="text" id="plataforma" name="plataforma" required />
      <button type="submit">Adicionar</button>
    </form>
  </body>
</html>
